*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html 
{
    scroll-behavior:smooth;
  }
.wrapper
{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: nowrap;
}
.panneau1
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    height: 100vh;
    width: 100%;

}
.spacer
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.pageTop
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction:row;
    color: white;
    align-items: center;
    padding-bottom: 2em;
}
.marqueNom
{
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 900;
}

.marqueNom > h1
{
    font-weight: 900;
}
.socials
{
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    flex-wrap: wrap;
    
}
.socials > i
{
    padding-left: 1em;
    padding-right: 1em;
}
.socials > i:hover
{
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 1s;
    cursor: pointer;
}
nav
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    
}   
ul
{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}
.pageTop > nav> ul > li
{
    display: inline-block;
    padding: 0 1% 0 1%;
    font-weight: 500;
}
a
{
    text-decoration: none;
    color: inherit;
}

.pageTop > nav> ul > li:hover
{

    opacity: 0.5;
    border-radius: 20px;
    transition-property: opacity;
    transition-duration: 1s;
    cursor: pointer;
}
.subscribeText
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 3vh;
    justify-content: center;
    width: 40%;
}
.subscribeText > h1
{
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.subscribeText > p
{
    text-align: start;
}
.subscribeText > form
{
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    justify-content: space-between;
}
.subscribeText > form > input
{
    border: none;
    background: transparent;
    outline: none; 
    padding: 1em 0em 1em 3em;
}
.btn
{
    padding: 1.5vh 4.5vh 1.5vh 4.5vh; 
    border-radius: 20px;
    background: #3B95BE;
    border: none;
    color: white;
}

.btn:hover
{
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 1s;
    cursor: pointer;
}
.divBtnSubscribe
{
    padding: 1em;
}

.subscribeTextPlusImg
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;

}
.subscribeTextPlusImg > .subscribeText > p
{
    padding-top: 2em;
    padding-bottom: 2em;
}

.imgCat
{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
.subscribeTextPlusImg > .imgCat >img
{
    width: 100%;
}
.unnamed
{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.panneau2
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}

.panneau2header
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.panneau2align
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4em;
}
.panneau2header > h2
{
padding: 2em 0 2em 0;
}
.panneau2header > p
{
    word-break:keep-all;
    font-weight: 200;
    color: grey;
    text-align: center;
}

.flexcards
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    column-gap: 1em;
    justify-content: center;
    padding-bottom: 2em;
    width: 100%;

}
.flexcard
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    height: 45vh;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8) ;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.flexcard:hover
{
    transform: translateY(-1.5vh);
    transition: 1s;
}
.flexcard > i
{
    font-size: 3rem;
    text-align: center;
}

.flexcard > h2
{
    padding: 1em 0 1em 0;

}
.flexcard > p
{
    text-align: center;
    padding: 0 2em 0 2em;
}
.panneau3
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.panneau3align
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.panneau3align > h1
{

    text-align: center;
    padding-bottom: 1em;
}

.panneau3align > p
{
    width: 75%;
    text-align: center;
    color: grey;
    padding: 0 0 2em 0;
}
.teamlex
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-content: center;
}
.headerT
{
    padding-bottom: 1em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.teamCard
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    height: 75vh;
    align-items: center;
}

.teamCard img
{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}
.descAnna,.descLuke ,.descWilliam,.descMaria
{
    padding-top: 1em;
}
.teamCard .imgAnna , .teamCard .imgWilliam, .teamCard .imgLuke, .teamCard .imgMaria
{
    border-radius: 50%;
    overflow:hidden;
}
.imgAnna:hover img, .imgLuke:hover img, .imgWilliam:hover img, .imgMaria:hover img
{
    filter: grayscale(0);
    transform:scale(1.2);
    transition: all 0.5s;
}
.annaSocials, .mariaSocials, .williamSocials, .lukeSocials
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2vh;
    position: absolute;
    left: -5vw;
    top: -5vh;
}
.annaSocials > i, .mariaSocials >i, .williamSocials >i, .lukeSocials>i
{
    background: white;
    border-radius: 50%;
}
.imgAnna, .imgLuke, .imgWilliam, .imgMaria
{
    width: 13em;
    height: 13em;
    position: relative;
}
.imgAnna:hover .annaSocials, .imgWilliam:hover .williamSocials, .imgMaria:hover .mariaSocials, .imgLuke:hover .lukeSocials
{
    transform: translateX(6vw) translateY(12vh);

    position: absolute;
    transition: 1.5s;
}
.panneauP
{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.parallax
{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    position: relative;
    height: 40vh;

}

.parallax::before
{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
    background-attachment: fixed; /* Fix img while scrolling */
    background-size:cover; /* Img will take 100% of space, crop otherwise */
    background-position: center; /* Center img postion */
    background-repeat: no-repeat; /* Depending on screensize content won't repeat */    
    background-image: url(./img/parallax.png);
}
.parallaxTextButton
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    align-items: center;
    position: relative;
}
.parallaxTextButton > p
{
    text-align: center;
    padding: 1.5em 0 3em 0;
    max-width: 90%;
}
.parallaxTextButton > button
{
    padding:1em 4em;
    border-radius: 5px;
    border: none;
    border: solid white 1px;
    background: none;
    color: white;
    
}
.parallaxTextButton > button:hover
{
    background: white;
    color : black;
    transform: translateY(-1vh);
    transition: 1s;
}

.panneau4
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.blogDesc
{
    padding: 1em 0.5em 1em 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height:15vh;
}

.blogDesc >p
{
    padding-top: 2em;
    text-align: center;
    color: grey;
}
.blogFlex
{   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    width: 100%;
    height: 80vh;
    align-items: center;
}
.blogFlexCard
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    height: 75vh;
}
.blogFlexCard >div>img
{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.imgCell
{
    width: 90%;
    height: 25vh;
    border-radius: 10px;    
    position: relative;
    overflow: hidden;
    background-size:cover; /* Img will take 100% of space, crop otherwise */
    background-position: center; /* Center img postion */  
    background-image: url(./img/blog3.png);
}

.imgCell2
{
    width: 100%;
    height: 25vh;
    border-radius: 10px;    
    position: relative;
    overflow: hidden;
    background-size:cover; /* Img will take 100% of space, crop otherwise */
    background-position: center; /* Center img postion */  
    background-image: url(./img/blog1.png);
}
.imgCell3
{
    width: 90%;
    height: 25vh;
    border-radius: 10px;    
    position: relative;
    overflow: hidden;
    background-size:cover; /* Img will take 100% of space, crop otherwise */
    background-position: center; /* Center img postion */  
    background-image: url(./img/blog4.png);
}
.imgCell::before
{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size:cover; /* Img will take 100% of space, crop otherwise */
    background-position: center; /* Center img postion */  
    background-image: url(./img/blog3.png);
}
.imgCell2::before
{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size:cover; /* Img will take 100% of space, crop otherwise */
    background-position: center; /* Center img postion */  
    background-image: url(./img/blog1.png);
}
.imgCell3::before
{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size:cover; /* Img will take 100% of space, crop otherwise */
    background-position: center; /* Center img postion */  
    background-image: url(./img/blog4.png);
}
.imgCellHover
{
    position: absolute;
    left: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    overflow: hidden;
    color: white;
}
.titreBlog
{
    padding-bottom: 1em;
}
.imgCell:hover
{
    transition: 1s;
    position: relative;
}
.imgCell2:hover
{
    transition: 1s;
    position: relative;
}
.imgCell3:hover
{
    transition: 1s;
    position: relative;
}
.imgCell:hover::before
{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
    background-size:cover; /* Img will take 100% of space, crop otherwise */
    background-position: center; /* Center img postion */  
    background-image: url(./img/blog3.png);   
}
.imgCell2:hover::before
{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
    background-size:cover; /* Img will take 100% of space, crop otherwise */
    background-position: center; /* Center img postion */  
    background-image: url(./img/blog1.png);   
}
.imgCell3:hover::before
{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
    background-size:cover; /* Img will take 100% of space, crop otherwise */
    background-position: center; /* Center img postion */  
    background-image: url(./img/blog4.png);   
}
.imgCell:hover .imgCellHover
{
    top: 5vh;
    left: 2.5vw;
}
.imgCell2:hover .imgCellHover
{
    top: 5vh;
    left: 2.5vw;
}
.imgCell3:hover .imgCellHover
{
    top: 5vh;
    left: 2.5vw;
}
.cellDesc
{
    height: 15vh!important;
}
.blogGrid > div >h3
{
    padding-bottom: 0.5em;
}
.blogGrid > div >p
{
    padding-bottom: 0.5em;
    color: grey;
}
.cellDesc > a >p
{
    color:rgb(139, 195, 245);
    font-weight: 600;
}
.panneau5
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 3em;
    height: 100vh;
    width: 100%;
}

.headerPricing
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1em 1em 1em;
    gap: 1.5%;
    justify-content: center;
    height: 39vh;
    width: 100%;
}
.headerPricingText
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 49%;
}
.headerPricingTextCol
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1em;
    gap: 2em;
}
.headerPricingTextCol1, .headerPricingTextCol2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.headerPricingText> h1
{
    padding-bottom: 1em;
}
.headerPricingText> p
{
    padding-bottom: 1em;
}
.pricingImg 
{
    display: flex;
    flex-wrap: wrap;
    max-width: 39%;
    height: 35vh;
}
.pricingImg >img
{
    height: 100%;
    width: 100%;
}
.headerPricingText > p, .headerPricingTextCol1 >p, .headerPricingTextCol2>p
{
    color: grey;
}
.headerPricingText > button
{
    height: 2.5em;
    width: 150px;
    border-radius: 10px;
    color: white;
    background: #416fc9;
    border:none;
}

.tablePrices
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba( 128, 128, 128, .15);
    padding-bottom: 2em;
    }
.headerTablePrices
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.headerTablePrices > h1
{
    padding-bottom: 2vh;
}
.headerTablePrices >p
{
    text-align: center;
    color: grey;
    padding-bottom: 5vh;
}
.gridFlexes
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    width: 100%;
    height: 40vh;
}
.cardPrice
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    width: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 40vh;
}

.cardPrice.cardPrice.sale
{
    transform: translateY(-2vh);

}
.cardPrice > .twoLists> .left
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cardPrice > .twoLists > .right
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}

.twoLists
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3vh;
    gap: 1.5em;
}
.cardPrice > h4
{
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    flex-wrap: wrap;
}
.pushButton
{
    padding-top: 0.5em;
    padding-bottom : 1em;
    display: flex;
    flex-wrap:wrap
}
.cardPrice > .pushButton > button
{
    width: 150px;
    height: 3vh;
    color: white;
    background: #416fc9;
    border: none;
    border-radius: 20px;
}
.left > li , .right > li
{
    padding: 0.1em 0 0.1em 0;
}
.bigNumeric
{
    font-size: 3em;
    color: #416fc9 ;
}
.cardPrice.sale
{
    position: relative;
}
.sticker
{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #416fc9;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    width: 20%;
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grey
{
    color: grey;
}

.ensembleP5
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.wrapperFooter
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0,1);
    padding: 2em 0 2em 0;
    gap: 1em;
    color: grey;
    width: 100%;
}

.orderIcons
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}
.iconz
{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    border-radius: 50%;
    font-size: 1.5em;
    padding: 0.5em;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-content: center;
}
.flexing
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.spaceEvenly
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
}
.spaceEvenly >span
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.anchor
{
    position: absolute;
    top: 0;
    right:0;
    height: 100%;
  }
  
  .anchor::before
  {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
  }
.anchor > a 
{
    position: sticky;
    top: 88vh;
    cursor: pointer;
}
.anchor > a >button 
{
    background: rgba(0, 0, 0,1);
    width: 1.5em;
    height: 1.5em;
    border: none;
    border-radius: 50%;
    font-size: 2em;
    cursor: pointer;
}
.anchor > a >button>i
{
    color: white;
    font-size: 1em;
}

.fa-regular.fa-circle-check, .fa-regular.fa-circle-xmark
{
    padding-right: 0.3em;
}